html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgba(250, 249, 246, 0.3), rgba(209, 218, 245, 0.3)),
    url('Assets/Background.jpg') no-repeat center center;
    background-size: cover;
    color: #00008B; /* dark blue */
}

.header {
    background-color: #556B2F; /* olive green */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header a {
    color: #FAF9F6; /* off white */
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
    margin: 5px 10px;
}

.header a:hover {
    color: #FFD700; /* gold */
}

h1 {
    font-size: 24px;
    margin: 0;
}

h2, h3, h4 {
    font-size: 18px;
    margin: 0;
}
.navbar-subtitle {
    background-color: #ffefa8; /* banana */
    color: #00008B; /* dark blue */
    font-size: 16px;
    text-align: center;
    padding: 2px 0;
    font-style: italic;
}

.main-content {
    max-width: 1200px;
    width: 90%;
    margin: 20px auto;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
    color: #00008B; /* dark blue */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.hero-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px 0;
}

.exhibit-item {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}

.exhibit-item:hover {
    transform: scale(1.05);
}

.exhibit-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.exhibit-item h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #00008B;
}

.exhibit-item a {
    text-decoration: none;
    color: inherit;
}

.accent {
    color: #B22222; /* muted red */
}

.exhibit-item:nth-child(even) {
    background-color: f0f0f0;
}