.header {
    color: white;
    cursor: pointer;
}
h1 {
    text-align: left;
    font-size: 24px;
    display: inline-block;
    margin-left: 10px;
}
h2 {
    text-align: right;
    font-size: 24px;
    display: inline-block;
    margin-right: 10px;
}
h3 {
    text-align: right;
    font-size: 24px;
    display: inline-block;
}
h4 {
    text-align: right;
    font-size: 24px;
    display: inline-block;
}